.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 0 2px #000000;
  background-color: #F5F5F5;

  height: 100px;
  width: 100%;
}

.logo {
  border: none;
  background-color: #F5F5F5;
  cursor: pointer;
}

.pipe {
  height: 28px;
  background-color: #c1c1c1;
  width: 2px;
  margin: 0 25px;
}

.headerLeft {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerRight {
  display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 50px;
}

.btnLogo {
  padding: 15px;
  margin-left: 50px;
  border-radius: 16px;
  border: none;
}

.btnTune {
  padding: 15px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  height: 48px;
  cursor: pointer;
}

.btnInclude {
  padding: 15px;
  margin-left: 25px;
  background-color: #a73b5f;
  border: none;
  cursor: pointer;
  
}

.btnDefender {
  padding: 15px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  height: 48px;
  cursor: pointer;
}

.btnPerson {
  padding: 15px;
  background-color: #D83367;
  border-radius: 4px;
  color: #fff;
  border: none;
  margin-left: 10px;
  height: 48px;
  cursor: pointer;
}

.input {
 border: none; 
 background-color: #F5F5F5;
 width: 298px;
 height: 36px;
}

.btnPerson2 {
  padding: 15px;
  background-image: linear-gradient(#FF8700, #D83367);
  border-radius: 4px;
  color: #fff;
  border: none;
  height: 48px;
  cursor: pointer;
}

.containerSearch {
  margin-left: 40px;
  /* box-shadow: 0 0 1px #000000; */
  border-radius: 4px;
  border: none;
}

.addUserText {
  margin-left: 10px;
  font-size: 14px;
  color: white;
}

.icon {
  color: #666666;
  background-color: #F5F5F5;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.btnIcon {
  display: inline-block;
  vertical-align:middle;
}